@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h1>List of Employee </h1>


<form class="d-flex mt-3 mb-4" asp-action="Index" method="get">
    <input class="form-control me-1" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
    <button class="btn btn-success" type="submit" value="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </button>
</form>
<a asp-action="Create" asp-controller="Employees" class="btn btn-outline-success mb-5">Create New Department</a>
<table class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(m=>m.EmployeeName) </th>
            <th scope="col">@Html.DisplayNameFor(m=>m.Phone) </th>
            <th scope="col">@Html.DisplayNameFor(m=>m.Gender) </th>
            <th scope="col">@Html.DisplayNameFor(m=>m.Gender) </th>
            <th scope="col">Department Name </th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.EmployeeId</th>
                <td>@employee.EmployeeName</td>
                <td>@employee.Phone</td>
                <td>@employee.Salary</td>
                <td>@employee.Gender</td>
                <td>@employee.Department.DepartmentName</td>


                <td>
                    <a asp-action="Details" asp-controller="Employees"
                       asp-route-id="@employee.EmployeeId" class="btn btn-outline-info">View</a>
                    <a asp-action="Delete" asp-controller="Employees"
                       asp-route-id="@employee.EmployeeId" class="btn btn-outline-danger">Delete</a>
                    <a asp-action="Edit" asp-controller="Employees"
                       asp-route-id="@employee.EmployeeId" class="btn btn-outline-warning">Edit</a>
                </td>
            </tr>
        }


    </tbody>
</table>
